body{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #FFFFFF
}


.logo{
   font-family: 'Raleway', sans-serif;
   color: #4D5AE5;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   font-weight: 700;
   text-transform: uppercase;
}

.logo-span{
    color: #2E2F42;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-weight: 700;
    text-transform: uppercase;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.list-item-link{
    color:  #2E2F42;
   font-size: 16px;
   line-height:1.5; 
   letter-spacing: 0.02em;
   font-weight: 500;
}

.list-item-link:hover,
.list-item-link:focus{
color: #404BBF;
}

.address{
    font-style: normal;

}


.adress-link{
font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.02em;
color: #434455;

}
 
.adress-link:hover,
.adress-link:focus{
    color: #404bbf;
}


.title{
    background: #2E2F42;
}

.first-title{
font-size: 56px;
line-height: 1.07; 
letter-spacing: 0.02em;
color:  #FFF;
text-align: center;

}


.first-button{
    font-family: "Roboto", sans-serif ;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.04em;
    color: #FFF;
    cursor: pointer;
    background-color: #404BBF;
    
}


.first-button :hover,
.first-button:focus{
    background-color: #404BBF;
}



.advantages-title{
  font-size: 20px;
  line-height: 1.2; 
  letter-spacing: 0.02em;
  color:  #2E2F42;
  font-weight: 500;
}


.advantages-text{
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #434455;
}


.team{
    background:  #F4F4FD;
}


.team-text{
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: centre;
 }

 .team-cart{
    background-color: #FFFFFF;
 }


.photo{
  font-size: 20px;
  line-height: 1.2; 
  letter-spacing: 0.02em;
  color: #2E2F42;
  font-weight: 500;
}


.photo-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:  #434455;
}



.portfolio-text{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color:  #2E2F42;

}


.apps{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:  #2E2F42;
    font-weight: 500;
}

.apps-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455 ;
}

.footer{
    background-color:#2E2F42 ;
   
}


.footer-text{
    font-size: 16px;
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

.footer-web{
    color: #4D5AE5;
    font-size: 18px;
    line-height: 1.16; 
    letter-spacing: 0.02em;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-studio{
    color:  #F4F4FD;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.02em;

}